<script src="/scripts/dark-mode-switch.min.js"></script>
<nav class="navbar sticky-bottom">
  <footer class="container justify-content-center">&copy; Copyright 2020 - By Project</footer>
</nav>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 <script src="https://www.google.com/recaptcha/api.js"></script>
<script src="https://use.fontawesome.com/707874cffc.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>
<script src="/scripts/blog.js"></script>
<script type="text/javascript">
	 $(document).ready(function(){
	 	$('.icon-click').click(function(){
	 		$('.icon').toggleClass('fa-eye-slash');
	 		var input = $('#pass');
	 	if(input.attr('type')==='password'){
	 		input.attr('type','text');
	 	}
	 	else{
	 		input.attr('type','password');
	 	}
	 	})
	 });
	 $(document).ready(function(){
	 	$('.icon-click1').click(function(){
	 		$('.icon1').toggleClass('fa-eye-slash');
	 		var input = $('#pass1');
	 	if(input.attr('type')==='password'){
	 		input.attr('type','text');
	 	}
	 	else{
	 		input.attr('type','password');
	 	}
	 	})
	 });
	 $(document).ready(function(){
	 	$('.icon-click2').click(function(){
	 		$('.icon2').toggleClass('fa-eye-slash');
	 		var input = $('#pass2');
	 	if(input.attr('type')==='password'){
	 		input.attr('type','text');
	 	}
	 	else{
	 		input.attr('type','password');
	 	}
	 	})
	 });
	 $(document).ready(function(){
	 	$('.icon-click3').click(function(){
	 		$('.icon3').toggleClass('fa-eye-slash');
	 		var input = $('#pass3');
	 	if(input.attr('type')==='password'){
	 		input.attr('type','text');
	 	}
	 	else{
	 		input.attr('type','password');
	 	}
	 	})
	 });
	 $(document).ready(function(){
	 	$('.icon-click4').click(function(){
	 		$('.icon4').toggleClass('fa-eye-slash');
	 		var input = $('#pass4');
	 	if(input.attr('type')==='password'){
	 		input.attr('type','text');
	 	}
	 	else{
	 		input.attr('type','password');
	 	}
	 	})
	 });
	 $(document).ready(function(){
	 	$('.hamb').click(function(){
	 		$('.ham').toggleClass('fa-times').toggleClass('fa-bars');
	 	})
	 });
</script>
<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js" ></script>
</body>
</html>