<head>
<title>About Website</title>
</head>
<%- include('partials/header') %>
<div class="container page">
<div class="jumbotron shadow">
<h1>This website was designed by Aneesh Pissay</h1>
<hr>
<strong>
<p>If you have any ideas to make this website better please contact me.</p>
<p>This website was made by front end using EJS, CSS, Javascript, jQuery and backend using Node.js, Express.js, Passport.js, Mongoose as a database server.</p>
<p>It also contains socket.io with notification which is being used for real time comments.</p></strong>
<img class="about" src="https://img.icons8.com/officel/100/000000/user.png"/>
<h5><p class="mt-5">Beginner Full Stack Developer</p></h5>
</div>
</div>
<%- include('partials/footer') %>
