<head>
<title>Home</title>
</head>
<%- include("partials/header") %>
<div class="container page">
	<div class="jumbotron shadow-lg">
	<h1>Welcome to Real Time Blog Website</h1>
	<hr>
	<h5>In this website you can create Blog Post. You can also <strong>Like</strong> the Post.</h5>
	<h5>You get notifications if you follow the other users Blog Post.</h5>
	<h5>And it also contains real time comment with notifications.</h5>
	<h5>It also contains search bar where you can search the blog post.</h5>
	<h5>You can also toggle Light Mode and Dark Mode. </h5>
	<strong><p>Click the button below to go to Blog Page</p></strong>
	<a href="/blogs" class="btn btn-primary">Go to Blog Page. </a>
</div>
</div>
<%- include("partials/footer") %>
